.title {
	text-align: center;
	font-size: 140%
}

.pass {
	width: 30%;
	margin-left: 34%;
	background-color: #0099FF;
	color: red;
	padding: 10px 10px 10px 10px;
	font-size: 160%;
	text-align: center;
}

.questions {
	text-align: center;
}